<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://unsplash.com/photos/cUkKHPvHIjI" width="30" height="30" class="d-inline-block align-top" alt="">
    4Sports
  </a>
  <button class="btn btn-info">
    <a href="/users/sign_in"> Login</a>
  </button>
</nav>